numpy
scipy
pandas>=2
geopandas>=1.1.1
xarray
networkx
pyyaml
pyomo>=6.6
netcdf4
pypsa>=1.1.2
atlite>=0.5
pysheds
powerplantmatching>=0.8.1
rasterio>=1.4.3
ipython
jupyterlab
tabula-py
xlrd
lxml
tables
pyxlsb
openpyxl
shapely>2
pyepsg
cartopy>=0.22
country-converter
matplotlib>=3.9
plotly
graphviz
jupyter-book>=2
ghp-import
highspy>=1.13
folium
mapclassify
numexpr>2.8.5
pyarrow
numba
pre-commit
