@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700&display=swap');

/* Body + headings */
body,
h1, h2, h3, h4, h5, h6,
p, li, dt, dd, blockquote,
.navbar, .sidebar, .caption, .admonition {
  font-family: 'Overpass', sans-serif !important;
}

@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@400;600&display=swap');

code, pre, kbd, samp {
  font-family: 'Overpass Mono', monospace !important;
}

/* Change row hover color */
.table tbody tr:hover {
  background-color: #bbcde2 !important;  /* your custom color */
}

/* Pandas DataFrame hover rows */
.dataframe tbody tr:hover {
  background-color: #bdd1f6 !important;
}
